// スタイルについて具体的な記述をする
// -------------------------------------
$pc: 1279px; // PC
$sp: 480px; // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
// -------------------------------------

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  // 親要素（基準）のフォントサイズ指定  デフォルト16px=1em, ⇨×0.625で10px相当
  // 100% = 1em = 1rem = 16px = 12pt
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

#wrap {
  width: 1920px; /*全体の幅を指定する*/
  margin: 0 auto; /*マージンの指定をする、ブラウザ対策*/
  // background-color: gray;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

// header
.header {
  width: 1920px;
  height: 130px;

  // レスポンシブ
  @include sp {
    width: 100vw;
  }

  // background-color: gray;
  .headercontainer {
    width: 1180px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    // background-color: #0000ff;

    // レスポンシブ
    @include sp {
      width: 100%;
      display: block;
    }

    .headerbox {
      width: 263px;
      height: 73px;
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      // background-color: gray;

      // レスポンシブ
      @include sp {
        width: 200px;
        height: 55px;
        margin: 0 auto;
        margin-top: 22px;
      }
    }

    .headericon {
      width: 73px;
      height: 73px;

      // レスポンシブ
      @include sp {
        width: 100px;
        height: 55px;

        img {
          width: 53px;
          height: 53px;
          margin-left: 15.5px;
        }
      }
    }

    .headertext {
      width: 190px;
      height: 73px;

      p.uppertext {
        padding-left: 8px;
        font-size: 30px;
        text-align: center;
        line-height: 28px;
        // color:white;
        // レスポンシブ
        @include sp {
          font-size: 20px;
          padding-left: 5px;
          line-height: 40px;
        }
      }
      p.lowertext {
        padding-left: 12px;
        font-size: 30px;
        text-align: center;
        line-height: 46px;
        // color:white;
        // レスポンシブ
        @include sp {
          font-size: 20px;
          padding-left: 5px;
          line-height: 15px;
        }
      }
    }

    .headercontent {
      width: 300px;
      height: 73px;
      margin-right: 20px;
      // background-color: rgb(224, 216, 216);
      // レスポンシブ
      @include sp {
        width: 300px;
        margin: 0 auto;
        background-color: red;
      }
      .reception {
        font-size: 14px;
        letter-spacing: 0.5px;
        text-align: right;
        margin-top: 5px;
      }

      p.tel::before {
        content: "";
        display: inline-block;
        width: 276x;
        height: 26px;
        background: url("../images/受話器の線画アイコン.jpg") no-repeat;
        background-size: contain;
        margin-right: 18px;
        // レスポンシブ
        @include sp {
        }
      }

      p.tel {
        color: #21a937;
        font-size: 24px;
        text-shadow: 0.4px 0.4px 0, 0.4px -0.4px 0px, -0.4px 0.4px 0,
          -0.4px -0.4px 0px, 0.4px 0px 0px, 0px 0.4px 0px, -0.4px 0px 0px,
          0px -0.4px 0px;
        letter-spacing: 0.5px;
        margin-top: 14px;
        text-align: right;
        // レスポンシブ
        @include sp {
          // text-align: center;
          // margin-top: 0;
          // background-color: rgb(157, 255, 0);
        }
      }
    }
  }
}

//body section
.fvbox {
  width: 1920px;
  height: 947px;
  position: relative;
}

p.message-left {
  writing-mode: vertical-rl;
  font-size: 28px;
  //bold効かない
  text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
    -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
    0px -0.5px 0px;
  letter-spacing: 4.4px;
  padding-top: 25px;
  line-height: 102px;
  width: 102px;
  height: 565px;
  background-color: white;
  position: absolute;
  top: 133px;
  left: 197px;

  .color {
    color: green;
  }
}

p.message-right {
  writing-mode: vertical-rl;
  font-size: 28px;
  //bold効かない
  text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
    -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
    0px -0.5px 0px;
  letter-spacing: 6px;
  padding-top: 25px;
  line-height: 102px;
  width: 102px;
  height: 565px;
  background-color: white;
  position: absolute;
  top: 133px;
  left: 393px;
}

.aboutus {
  width: 1180px;
  height: 664px;
  margin: 0 auto;
  display: flex;
  // background-color: rgb(209, 197, 197);

  .aboutus-content {
    width: 490px;
    height: 664px;
    // background-color: yellow;
  }

  .flbox {
    width: 267px;
    margin-left: 32px;
  }

  .first-line {
    font-size: 24px;
    background: linear-gradient(transparent 70%, rgb(84, 200, 84) 70%);
    //bold効かない
    text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
      -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
      0px -0.5px 0px;
    margin-top: 200px;
    line-height: 20px;
  }

  .slbox {
    width: 216px;
    margin-top: 40px;
    margin-left: 32px;
  }

  .second-line {
    font-size: 24px;
    background: linear-gradient(transparent 70%, rgb(84, 200, 84) 70%);
    //bold効かない
    text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
      -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
      0px -0.5px 0px;
    letter-spacing: -0.1px;
    line-height: 33px;
  }

  .thbox {
    width: 410px;
    height: 145px;
    margin-top: 30px;
    margin-left: 32px;
    // background-color: red;
  }

  .third-line {
    font-size: 16px;
    line-height: 36px;
    letter-spacing: -0.1px;
    line-height: 38px;
  }

  .aboutus-img {
    width: 690px;
    height: 420px;
    margin-top: 162px;
  }
}

// second section
.treatment-content-container {
  // width: 96px;
  width: 1920px;
  height: 1520px;
  background-color: #f5fcf8;

  .treatment-content-box {
    width: 96px;
    margin: 0 auto;
    padding-top: 84px;
    background: linear-gradient(transparent 90%, rgb(134, 235, 134) 70%);

    h2.treatment-content {
      height: 32px;
      font-size: 24px;
      //bold効かない
      text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
        -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
        0px -0.5px 0px;
      text-align: center;
    }
  }
}

.consultationbox {
  width: 448px;
  margin: 71px auto 0 auto;
  // background-color: red;

  .consultation {
    font-size: 16px;
    letter-spacing: 0px;
  }
}

.container_treatmentcontent {
  margin-top: 37px;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;

  .medical-subjects {
    width: 380px;
    height: 591px;
    border: 1px solid;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    position: relative;
    background-color: white;

    .subjecrt-title {
      width: 192px;
      margin: 41px 94px 0 94px;

      // background-color: red;
      h3 {
        font-size: 24px;
        //bold効かない
        text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
          -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
          0px -0.5px 0px;
      }
    }

    .description {
      margin: 42px 29px 111px 31px;

      p {
        font-size: 16px;
        line-height: 33px;
        //bold効かない
        text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
          -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
          0px -0.5px 0px;
        letter-spacing: -0.1px;
        line-height: 38px;
      }
    }

    .medical-image {
      position: absolute;
      bottom: 0;
      left: 97px;

      img {
        width: 187px;
        height: 187px;
      }
    }
  }
}

.noticebox {
  width: 100px;
  margin: 84px auto 0px auto;

  h2.notice {
    font-size: 24px;
    background: linear-gradient(transparent 60%, rgb(134, 235, 134) 90%);
    //bold効かない
    text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
      -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
      0px -0.5px 0px;
  }
}

.container_notice {
  width: 1180px;
  height: 390px;
  margin: 74px auto 0 auto;
  border: 0px solid;
  border-radius: 20px;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
  -webkit-box-shadow: rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
  -moz-box-shadow: rgba(238, 238, 238, 0.509804) 9px 9px 10px -4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .noticewrap {
    height: 25px;
    // background-color: red;
  }

  .notice_contents {
    border-bottom: 1px solid #e7e7e7;
    margin: 0px 66px 0px 66px;
    // background-color: rgb(209, 197, 197);

    p.date {
      font-size: 16px;
      color: green;
      //bold効かない
      text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
        -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
        0px -0.5px 0px;
      display: inline-block;
      width: 80px;
      height: 16px;
      margin: 25.4px 32px 20.5px 0px;
      letter-spacing: 0.6px;
    }

    p.info {
      font-size: 12px;
      color: white;
      //bold効かない
      text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
        -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
        0px -0.5px 0px;
      display: inline-block;
      background-color: #444444;
      width: 80px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      margin-right: 30px;
    }

    p.info-content {
      font-size: 16px;
      //bold効かない
      text-shadow: 0.5px 0.5px 0, 0.5px -0.5px 0px, -0.5px 0.5px 0,
        -0.5px -0.5px 0px, 0.5px 0px 0px, 0px 0.5px 0px, -0.5px 0px 0px,
        0px -0.5px 0px;
      display: inline-block;
    }
  }
}

div.seewrap {
  margin: 0px 54px 0px 66px;
  text-align: right;
  // background-color: yellowgreen;

  div.seebox {
    width: 1000px;
    margin: 0px 0px 0px 66px;
    text-align: right;
    // background-color: red;

    p.see {
      font-size: 16px;
      width: 85px;
      height: 16px;
      margin-top: 44px;
      display: inline-block;
      letter-spacing: 0px;
    }

    p.seeicon {
      font-size: 14px;
      width: 12px;
      height: 14px;
      margin-top: 35px;
      display: inline-block;
    }
  }
}

.container_access {
  width: 1190px;
  height: 799px;
  margin: 0px auto 0 auto;
  background-color: white;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .map {
    width: 608px;
    height: 440px;
    padding-top: 197px;
    margin-right: 39px;
    padding-left: 4px;
  }

  .container_about {
    width: 538px;
    height: 625px;
    margin-top: 197px;
    // background-color: rgb(238, 240, 233);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    .company {
      width: 263px;
      height: 73px;
      display: flex;
      flex-wrap: wrap;

      // background-color: rgb(240, 240, 245);

      .companyicon {
        width: 73px;
        height: 73px;
      }

      .companyname {
        width: 190px;
        height: 73px;

        .upperline-name {
          font-size: 30px;
          line-height: 22.5px;
          padding-left: 9.5px;
        }

        .lowerline-name {
          font-size: 30px;
          line-height: 57px;
          padding-left: 24px;
        }
      }
    }

    .adresswrap {
      margin-top: 28px;
      display: flex;
      flex-wrap: wrap;
      background-color: white;

      .adressnumber {
        font-size: 16px;
        margin-right: 17px;
        letter-spacing: 0.3px;
      }

      .adress {
        font-size: 16px;
        letter-spacing: 0.3px;
      }
    }

    .telbox {
      height: 32px;
      width: 220px;
      position: relative;
      margin-top: 29px;
      // background-color: rgb(236, 228, 228);

      p.tel::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../images/受話器の線画アイコン.jpg") no-repeat;
        background-size: contain;
        margin-right: 15px;
        margin-top: 2px;
      }

      p.tel {
        color: #21a937;
        font-size: 24px;
        text-shadow: 0.4px 0.4px 0, 0.4px -0.4px 0px, -0.4px 0.4px 0,
          -0.4px -0.4px 0px, 0.4px 0px 0px, 0px 0.4px 0px, -0.4px 0px 0px,
          0px -0.4px 0px;
        text-align: right;
        padding-left: 6px;
        letter-spacing: 0.5px;
        position: absolute;
      }
    }

    .border {
      height: 29.5px;
      width: 533px;
      border-bottom: 1px solid;
      border-color: #e7e7e7;
      background-color: rgb(255, 255, 255);
    }

    .margin {
      height: 15px;
      width: 533px;
      // background-color: rgb(104, 30, 30);
    }

    .businesshour {
      height: 95px;
      width: 533px;
      background-color: white;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .examination-time-box {
        width: 85px;
        height: 114px;
        border-right: 1px solid;
        border-color: #e7e7e7;

        // background-color: rgb(253, 185, 185);
        p.examination-time {
          font-size: 14px;
          margin-top: 9px;
          margin-left: 4.5px;
          // background-color: rgb(233, 217, 217);
        }
      }

      .patternwrap {
        width: 449px;
        height: 114px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // background-color: rgb(250, 202, 112);

        .pattern {
          // background-color: rgb(233, 226, 240);

          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .dayofweek-upper {
            font-size: 14px;
            display: inline-block;
            width: 42px;
            margin: 9px 23px 0 32px;
            // background-color: rgb(233, 217, 217);
          }
          .dayofweek-middle {
            font-size: 14px;
            display: inline-block;
            width: 42px;
            margin: 14px 23px 0 32px;
            // background-color: rgb(233, 217, 217);
          }
          .dayofweek-lower {
            font-size: 14px;
            display: inline-block;
            width: 42px;
            margin: 18px 23px 0 32px;
            // background-color: rgb(233, 217, 217);
          }

          .morning-upper {
            font-size: 14px;
            display: inline-block;
            width: 105px;
            margin: 9px 16px 0 0;
            letter-spacing: 0.5px;
            // background-color: rgb(233, 217, 217);
          }
          .morning-middle {
            font-size: 14px;
            display: inline-block;
            width: 105px;
            margin: 16px 16px 0 0;
            letter-spacing: 0.5px;
            // background-color: rgb(233, 217, 217);
          }
          .morning-lower {
            font-size: 14px;
            display: inline-block;
            width: 105px;
            margin: 16px 16px 0 0;
            letter-spacing: 0.5px;
            // background-color: rgb(233, 217, 217);
          }

          .afternoon-upper {
            font-size: 14px;
            display: inline-block;
            width: 110px;
            margin: 9px 16px 0 0;
            letter-spacing: 0.3px;
            // background-color: rgb(233, 217, 217);
          }
          .afternoon-middle {
            font-size: 14px;
            display: inline-block;
            width: 110px;
            margin: 16px 16px 0 0;
            letter-spacing: 0.3px;
            // background-color: rgb(233, 217, 217);
          }
          .afternoon-lower {
            font-size: 14px;
            display: inline-block;
            width: 110px;
            margin: 16px 16px 0 0;
            letter-spacing: 0.3px;
            // background-color: rgb(233, 217, 217);
          }
        }
      }
    }

    .closeddays-line {
      width: 533px;
      height: 35px;
      // background-color: rgb(224, 82, 82);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .closedday-box {
        width: 85px;
        font-size: 14px;
        border-right: 1px solid;
        border-color: #e7e7e7;

        p.closedday {
          margin-top: 14px;
          margin-left: 4.5px;
          // background-color: rgb(233, 217, 217);
        }
      }
    }

    .closedayofweekwrap {
      width: 449px;
      height: 114px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // background-color: rgb(250, 202, 112);
      .closedayofweek {
        font-size: 14px;
        display: inline-block;
        width: 70px;
        margin-top: 14px;
        margin-left: 32px;
        // background-color: rgb(207, 194, 226);
      }
    }
    .borderlower {
      height: 19px;
      width: 533px;
      border-bottom: 1px solid;
      border-color: #e7e7e7;
      // background-color: rgb(110, 84, 84);
    }

    .crr {
      width: 553px;
      margin-top: 22px;
      text-align: right;
      // background-color: rgb(110, 84, 84);
      .crrtext {
        font-size: 11px;
        letter-spacing: 0.45px;
        padding-right: 15px;
        display: inline-block;
      }
    }
  }
}
