// headerエリア
.header {
  width: 1920px;
  height: 130px;

  // background-color: gray;
  .headercontainer {
    width: 1180px;
    height: 130px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    // background-color: #0000ff;

    .headericon {
      width: 73px;
      height: 73px;
    }

    .headerbox {
      width: 263px;
      height: 73px;
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      // background-color: gray;
    }

    .headertext {
      width: 190px;
      height: 73px;

      p.uppertext {
        padding-left: 8px;
        font-size: 30px;
        text-align: center;
        line-height: 28px;
        // color:white;
      }
      p.lowertext {
        padding-left: 12px;
        font-size: 30px;
        text-align: center;
        line-height: 46px;
        // color:white;
      }
    }

    .headercontent {
      width: 300px;
      height: 73px;
      margin-right: 20px;
      // background-color: rgb(224, 216, 216);

      .reception {
        font-size: 14px;
        letter-spacing: 0.5px;
        text-align: right;
        margin-top: 5px;
      }

      p.tel::before {
        content: "";
        display: inline-block;
        width: 276x;
        height: 26px;
        background: url("../images/受話器の線画アイコン.jpg") no-repeat;
        background-size: contain;
        margin-right: 18px;
      }

      p.tel {
        color: #21a937;
        font-size: 24px;
        text-shadow: 0.4px 0.4px 0, 0.4px -0.4px 0px, -0.4px 0.4px 0,
          -0.4px -0.4px 0px, 0.4px 0px 0px, 0px 0.4px 0px, -0.4px 0px 0px,
          0px -0.4px 0px;
          letter-spacing: 0.5px;
        margin-top: 14px;
        text-align: right;
      }
    }
  }
}
