// ブレイクポイント=============================================
// ===========================================================
$pc_l: 1280px; // 1280px〜  外部モニタ
$pc: 1279px; // ~1279px  ノートPC
$tab: 1024px; // ~1024px  タブレット
$sp_b: 599px; // ~599px  スマホ横beside
$sp_V: 479px; // ~479px  スマホ縦vertical
// ブレイクポイント=============================================
// ===========================================================

@mixin pc-l($pcl) {
  // @media (-width: ($pcl)) {
  @media (min-width: ($pcl)) {
    @content;
  }
}

// ===========================================================
@mixin pc($pc) {
  // @media (max-width: ($pc)) {
  @media not all and (min-width: ($pc)) {
    @content;
  }
}

// ===========================================================
@mixin tab($tab) {
  // @media (max-width: ($tab)) {
  @media not all and (min-width: ($tab)) {
    @content;
  }
}

// ===========================================================
@mixin sp_b($sp_b) {
  // @media (max-width: ($sp_b)) {
  @media not all and (min-width: ($sp_b)) {
    @content;
  }
}

// ===========================================================
@mixin sp_v($sp_v) {
  // @media (max-width: ($sp_v)) {
  @media not all and (min-width: ($sp_v)) {
    @content;
  }
}

//レスポンシブ PC-Large ========================================
// ===========================================================
@function clamp_vw_pc_l($num) {
  $minWidth: 1280;
  $maxWidth: 2000;
  $val_max: $num * 1px;
  $val_vw: round(calc($num / $maxWidth) * 100);
  $val_min: round($minWidth * calc($val_vw / 100)) * 1px;
  @return clamp(#{$val_min}, #{$val_vw * 1vw}, #{$val_max});
}

//レスポンシブ PC =============================================
// ===========================================================
@function clamp_vw_pc($num) {
  $minWidth: 1025;
  $maxWidth: 1279;
  $val_max: $num * 1px;
  $val_vw: round(calc($num / $maxWidth) * 100);
  $val_min: round($minWidth * calc($val_vw / 100)) * 1px;
  @return clamp(#{$val_min}, #{$val_vw * 1vw}, #{$val_max});
}

//レスポンシブ TAB =============================================
// ===========================================================
@function clamp_vw_tab($num) {
  $minWidth: 600;
  $maxWidth: 1024;
  $val_max: $num * 1px;
  $val_vw: round(calc($num / $maxWidth) * 100);
  $val_min: round($minWidth * calc($val_vw / 100)) * 1px;
  @return clamp(#{$val_min}, #{$val_vw * 1vw}, #{$val_max});
}

//レスポンシブ SP-B =============================================
// ===========================================================
@function clamp_vw_sp_b($num) {
  $minWidth: 480;
  $maxWidth: 599;
  $val_max: $num * 1px;
  $val_vw: round(calc($num / $maxWidth) * 100);
  $val_min: round($minWidth * calc($val_vw / 100)) * 1px;
  @return clamp(#{$val_min}, #{$val_vw * 1vw}, #{$val_max});
}

//レスポンシブ SP-V =============================================
// ===========================================================
@function clamp_vw_sp_v($num) {
  $minWidth: 280;
  $maxWidth: 479;
  $val_max: $num * 1px;
  $val_vw: round(calc($num / $maxWidth) * 100);
  $val_min: round($minWidth * calc($val_vw / 100)) * 1px;
  @return clamp(#{$val_min}, #{$val_vw * 1vw}, #{$val_max});
}

// ===========================================================
// ===========================================================